<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grade</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
</head>
<body class="container">
<h2 class="text-center">Fill Grade</h2>

<form th:action="@{/teacher/saveGrade}" method="post" th:object="${gradeDTO}">

    <input type="hidden" id="id" th:field="*{id}"/>

    <div class="mb-3">
        <label for="studentId" class="form-label text-primary">Select Student:</label>
        <select id="studentId" th:field="*{studentId}" class="form-control">
            <option th:each="student : ${gradeDTO.students}"
                    th:value="${student.id}"
                    th:text="${student.firstName} + ' ' + ${student.lastName}"></option>
        </select>
    </div>

    <div class="mb-3">
        <label for="subjectId" class="form-label text-primary">Select Subject:</label>
        <select id="subjectId" th:field="*{subjectId}" class="form-control">
            <option th:each="subject : ${gradeDTO.subjects}"
                    th:value="${subject.id}"
                    th:text="${subject.name}"></option>
        </select>
    </div>


    <div class="mb-3">
        <label for="date" class="form-label text-primary">Date:</label>
        <input type="date" id="date" class="form-control" th:field="*{date}"
               th:value="${#temporals.format(T(java.time.LocalDate).now(), 'yyyy-MM-dd')}"/>
        <div th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="text-danger">Date Error</div>
    </div>

    <div class="mb-3">
        <label for="grade" class="form-label text-primary">Grade:</label>
        <input type="number" id="grade" class="form-control" th:field="*{grade}"/>
        <div th:if="${#fields.hasErrors('grade')}" th:errors="*{grade}" class="text-danger">Grade Error</div>
    </div>

    <div class="mb-3">
        <label for="comment" class="form-label text-primary">Comment:</label>
        <input type="text" id="comment" th:field="*{comment}" class="form-control"/>
    </div>

    <input type="submit" value="Save grade" class="mb-3 btn btn-primary"/>
</form>
</body>
</html>
