<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
<h1>Students grades</h1>
<form th:action="@{/getStudentsGrades}" method="post" th:object="${studentDTO}">
    <select th:field="*{subjectId}">
        <option th:each="subject : ${studentDTO.subjects}"
                th:value="${subject.id}"
                th:text="${subject.name}"></option>
    </select>
    <input type="submit" value="Select Subject">
</form>

<div th:each="student : ${studentDTO.students}">
    <h3><span th:text="${student.firstName}"></span> <span th:text="${student.lastName}"></span>
        <!--        <input type="button" value="Add grade"-->
        <!--               th:onclick="|window.location.href='/createGrade?contactId=${contact.id}'|"/>-->
        <form th:action="@{/createGrade}" method="post" style="display:inline;">
            <input type="hidden" name="studentId" th:value="${student.id}"/>
            <input type="hidden" name="subjectId" th:value="${studentDTO.subjectId}"/>
            <button type="submit">Add grade</button>
        </form>
    </h3>
    <ul>
        <li th:each="grade : ${student.grades}">
            <span th:text="${grade.date}"></span>
            <span th:text="${grade.grade}"></span>
            <span th:text="${grade.comment}"></span>
            <span> <input type="button" value="Update grade"
                          th:onclick="|window.location.href='/updateGrade?gradeId=${grade.id}'|"/></span>
            <span> <input type="button" value="Delete grade"
                          th:onclick="|window.location.href='/deleteGrade?gradeId=${grade.id}'|"/></span>
        </li>
    </ul>
</div>
</body>
</html>